
#systemMsgDisplay {
   display: none;
}

.ua_header {
  width: 100%;
  height: 48px;
  background-color: #0C234B;
}

.systemMsg {
  font-size: .8em;
  padding-top: 10px;
  padding-bottom: 10px;
  font-family: courier;
  color: #2f4f4f;
  text-align:center;
}

.ua_header_title {
  width: 650px;
  height: 48px;
  float: left;
  background-repeat: no-repeat;
  background-position-y: 13px;
  background-position-x: 20px;
}

.ua_header_title_sa {
  background-image:url(images/UITS_UAccess_Student.png);
}

.ua_header_title_el {
  background-image:url(images/UITS_UAccess_Learning.png);
}

.ua_header_title_bi {
  background-image:url(images/UITS_UAccess_Analytics.png);
}

.ua_header_title_hr {
  background-image:url(images/UITS_UAccess_Employee.png);
}


.ua_whitetab {
  height: 32px;
  width: 60px;
  float: right;
  margin-top: 22px;
}

.ua_tablinks {
  font-family: Verdana, Arial, Helvetica, sans-serif;
  font-size: 11px;
  font-weight:bold;
  color: #344791;
  margin-left: 4px;
  margin-right: 4px;
}
.ua_tablinks A:link {text-decoration: none; color:#344791;
  margin-left: 4px;
  margin-right: 4px;}
.ua_tablinks A:visited {text-decoration: none; color:#344791;
  margin-left: 4px;
  margin-right: 4px;}
.ua_tablinks A:active {text-decoration: underline; color:#344791;
  margin-left: 4px;
  margin-right: 4px;}
.ua_tablinks A:hover {text-decoration: underline; color:#344791;
  margin-left: 4px;
  margin-right: 4px;}

.PSPAGE{font-family:Arial,sans-serif;color:rgb(0,0,0);background-color:rgb(255,255,255);margin-top:0px;margin-left:0px;}
